STARFUR_BIND_ADDR=0.0.0.0:8080
STARFUR_EXTERNAL_SCHEME=http
STARFUR_UPSTREAM_TIMEOUT_SECONDS=30
STARFUR_RATE_LIMIT_PER_MINUTE=600
STARFUR_UPSTREAM_PADLOCK=http://127.0.0.1:5101
STARFUR_UPSTREAM_PASSPORT=http://127.0.0.1:5102
STARFUR_UPSTREAM_SPHERE=http://127.0.0.1:5103
STARFUR_UPSTREAM_MESSAGER=http://127.0.0.1:5104
STARFUR_UPSTREAM_RING=http://127.0.0.1:5105
STARFUR_UPSTREAM_WALLET=http://127.0.0.1:5106
STARFUR_UPSTREAM_DEVELOP=http://127.0.0.1:5107
STARFUR_UPSTREAM_STORAGE=http://127.0.0.1:5108
STARFUR_UPSTREAM_PUSH=http://127.0.0.1:5109
STARFUR_UPSTREAM_MAIL=http://127.0.0.1:5110
STARFUR_UPSTREAM_WORKSPACE=http://127.0.0.1:5111
STARFUR_UPSTREAM_WEBSOCKET=
RUST_LOG=starfur_gateway=info
